<div class="container">
	<div class="clearfix">
		 <% @blogs.each do |blog| %>
		    <div class ="main">
		    	<div class ="sub">
		    		<%=link_to blog_contents_path(blog.id) do %>
				    <div class ="image"><%= attachment_image_tag blog, :image, format: 'jpeg', class: "sub-image"%>
				    </div>
				    <%end%>
				    <div class = "title"><%= blog.title %></div>
				    <br>
				    <span class = "place"><%= blog.location %></span>
			    </div>
		    </div>
		 <% end %>
	</div>
</div>