// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#side {
    position: fixed;
    width: 200px;
    height: 100%;
    z-index: 150;
    background: #EEE9E2;
}